<div class="swiper-slide">
	<header class="steps-header">
		<h1>Selecione o(a) aluno(a)</h1>
		<p>
			Selecione abaixo o aluno para quem deseja realizar o checkin. Observe que se existir mais de um aluno dependente, será necessário fazer o checkin de cada aluno por vez.
		</p>
	</header>

	<div class="box-checkin box-checkin--xs">
		<form action="" class="form">

			{% for registry in registries %}
				<label class="custom-radio">{{ registry['data']['ALUNO'] }}
					<input
						type="radio"
						name="student"
						value="{{ registry['data']['ALUNO'] }}"
						data-grade="{{ registry['grade'] | json_encode }}"
					>
					<span class="checkmark"></span>
				</label>
			{% endfor %}

			<input type="hidden" name="cpf" value="{{ cpf }}">

			<button class="btn-checkin btn-checkin-next">
				Próximo
			</button>
		</form>
	</div>
</div>
