<div class="swiper-slide">
	<header class="steps-header">
		<h1>Turma do(a) aluno(a)</h1>
		<p>
			Agora selecione a cidade onde deseja realizar o checkin do aluno e em seguida informe a unidade e turno desejado.
		</p>
	</header>

	<div class="box-checkin box-checkin--md">
		<form action="" class="form">

			<div class="box-form-step box-form-step--mb-0 box-form-step--pd-0">
				<div class="collapse-grid">
					<div class="box-6 box-6--six box-mb-0">
						<label class="custom-radio custom-radio--pb">João Pessoa
							<input type="radio"  name="region" value="jp">
							<span class="checkmark"></span>
						</label>
					</div>
					<div class="box-6 box-6--six box-mb-0">
						<label class="custom-radio custom-radio--cg">Campina Grande
							<input type="radio" name="region" value="cg">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>



			<div class="box-form-step box-form-step--bg">

				<div class="box-4">

				<label id="img_category_label" class="field-select unit" style="opacity:5;" for="img_category" data-value="">
						<span class="span-icon span-icon--unidade">Unidade</span>
						<div id="img_category" class="psuedo_select" name="img_category">
							<span class="selected span-icon--unidade"></span>
							<ul id="img_category_options" class="options">
								{% for unit in units %}
									<li class="option" data-value="{{ unit['id'] }}"
										style="{{ unit['region'] != 'jp' ? 'display: none' : '' }}"
										data-region="{{ unit['region'] }}"
									>
										{{ unit['name'] }}
									</li>
								{% endfor %}
							</ul>
							<input type="hidden" name="unit_id" value="">
						</div>
					</label>
				</div>
				<div class="box-5">
					<div class="input-icon input-icon--book">
						<input type="text" placeholder="" name="grade" value="{{ registries['grade']['id'] }}" disabled>
					</div>
				</div>
				<div class="box-3">
					<label id="img_category_label" class="field-select shift" style="opacity:5;" for="img_category" data-value="">
						<span class="span-icon span-icon--turno">Turno</span>
						<div id="img_category" class="psuedo_select" name="img_category">
							<span class="selected span-icon--turno"></span>
							<ul id="img_category_options" class="options">
								<li class="option" data-value="0">Manhã</li>
								<li class="option" data-value="1">Tarde</li>
								<li class="option" data-value="2">Integral</li>
							</ul>
							<input type="hidden" name="shift" value="">
						</div>
					</label>
				</div>

			</div>

			<button class="previous btn-checkin btn-checkin-prev btn-checkin--mobile btn-checkin--disable">Voltar</button>
			<button class="btn-checkin btn-checkin-next btn-checkin--mobile">Próximo</button>

		</form>
	</div>
</div>
