<style>
    .box-services{
        margin-bottom: 20px;
        margin-top: 20px;
        min-height: 100px;
    }
</style>

<div class="swiper-slide">
	<header class="steps-header">

		<h1>Serviços</h1>
		<p>
			Por fim, se desejar contratar alguns dos serviços disponíveis para este aluno, selecione abaixo.
		</p>
	</header>

	<div class="box-checkin box-checkin--md box-checkin--checkbox">
		<form action="" class="form">
            <div class="region" data-region="jp">
                <h2>REGULAR</h2>
                <div class="box-services">
                    <div class="service box-3" data-grades="1,2,3,4,5,6,7,8,9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Projeto Giroletras
                                <input type="checkbox" name="services[]" value="Projeto Giroletras - REGULAR">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="1,2,3,4,5,6,7,8,9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Material Coletivo
                                <input type="checkbox" name="services[]" value="Material  Coletivo - REGULAR">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <div class="service box-3" data-grades="9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Jornal O Joca
                                <input type="checkbox" name="services[]" value="Jornal O Joca - REGULAR">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="11,12" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container"> Material de Artes
                                <input type="checkbox" name="services[]" value="Material de Artes - REGULAR">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="11,12" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container"> Guten (Plataforma de Leitura)
                                <input type="checkbox" name="services[]" value="Guten (Plataforma de Leitura) - REGULAR">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="13,14" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container"> Árvore de livros (Plataforma de Leitura)
                                <input type="checkbox" name="services[]" value="Árvore de livros (Plataforma de Leitura) - REGULAR">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="15,16,17" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container"> Material Bernoulli
                                <input type="checkbox" name="services[]" value="Material Bernoulli - REGULAR">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <br>
                <h2>BILÍNGUE ( MOTIVA AMBIENTAL E ORIENTAL )</h2>
                <div class="box-services">
                    <div class="service box-3" data-grades="3,4,5,6,7,8,9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Projeto Giroletras
                                <input type="checkbox" name="services[]" value="Projeto Giroletras - TAXAS BILÍNGUE">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="3,4,5,6,7,8,9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Material Coletivo
                                <input type="checkbox" name="services[]" value="Material Coletivo - TAXAS BILÍNGUE">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="3,4,5,6,7,8,9,10,11,12" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">International School (Programa Bilíngue)
                                <input type="checkbox" name="services[]" value="International School (Programa Bilíngue) - TAXAS BILÍNGUE">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Jornal O Joca
                                <input type="checkbox" name="services[]" value="Jornal O Joca - TAXAS BILÍNGUE">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="11,12" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Material de Artes
                                <input type="checkbox" name="services[]" value="Material de Artes - TAXAS BILÍNGUE">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="11,12" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Guten (Plataforma de Leitura)
                                <input type="checkbox" name="services[]" value="Guten (Plataforma de Leitura) - TAXAS BILÍNGUE">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <br>
                <h2>INTEGRAL (  MOTIVA ORIENTAL )</h2>
                <div class="box-services">
                    <div class="service box-3" data-grades="2,3,4,5,6,7,8,9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Projeto Giroletras
                                <input type="checkbox" name="services[]" value="Projeto Giroletras - INTEGRAL">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="11,12" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Material de Artes
                                <input type="checkbox" name="services[]" value="Material de Artes - INTEGRAL">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="2,3,4,5,6,7,8,9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Material Coletivo regular
                                <input type="checkbox" name="services[]" value="Material Coletivo regular - INTEGRAL">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="2,3,4,5,6,7,8,9,10,11,12" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Material Coletivo integral
                                <input type="checkbox" name="services[]" value="Material Coletivo integral - INTEGRAL">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="3,4,5,6,7,8,9,10,11,12,13,14" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">International School (Programa Bilíngue)
                                <input type="checkbox" name="services[]" value="International School (Programa Bilíngue) - INTEGRAL">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="9,10" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Jornal O Joca
                                <input type="checkbox" name="services[]" value="Jornal O Joca - INTEGRAL">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="11,12" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Guten (Plataforma de Leitura)
                                <input type="checkbox" name="services[]" value="Guten (Plataforma de Leitura) - INTEGRAL">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="service box-3" data-grades="13,14" data-region="jp">
                        <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                            <label class="checkbox-container">Árvore de livros
                                <input type="checkbox" name="services[]" value="Árvore de livros - INTEGRAL">
                                <span class="ck-checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!--  CAMPINA GRANDE -->

        <div class="region" data-region="cg">
            <h2>REGULAR</h2>
            <div class="box-services">
                <div class="service box-3" data-grades="1,2,3,4,5,6,7,8,9,10" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Projeto Giroletra
                            <input type="checkbox" name="services[]" value="Projeto Giroletra - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="1,2,3,4,5,6,7,8,9,10" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Material Coletivo
                            <input type="checkbox" name="services[]" value="Material Coletivo - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="11,12" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Material de Artes
                            <input type="checkbox" name="services[]" value="Material de Artes - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="3,4,5,6,7,8,9,10,11" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">International School (Programa Bilíngue)
                            <input type="checkbox" name="services[]" value="International School (Programa Bilíngue) - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="4,5" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Caderno de atividades
                            <input type="checkbox" name="services[]" value="Caderno de atividades - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="5,6" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Caderno de pauta
                            <input type="checkbox" name="services[]" value="Caderno de pauta  - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="9,10" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Jornal O Joca
                            <input type="checkbox" name="services[]" value="Jornal O Joca  - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="11,12" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Guten (Plataforma de Leitura)
                            <input type="checkbox" name="services[]" value="Guten (Plataforma de Leitura) - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="13,14" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Árvore de livros (Plataforma de Leitura)
                            <input type="checkbox" name="services[]" value="Árvore de livros (Plataforma de Leitura) - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="15,16,17" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Bernoulli
                            <input type="checkbox" name="services[]" value="Bernoulli - REGULAR">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>

            <br>
            <h2>INTEGRAL</h2>
            <div class="box-services">
                <div class="service box-3" data-grades="2,3,4,5,6,7,8,9,10,11,12" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">Material Coletivo
                            <input type="checkbox" name="services[]" value="Material Coletivo - INTEGRAL">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="service box-3" data-grades="2,3,4,5,6,7,8,9,10,11,12,13" data-region="cg">
                    <div class="box-form-step box-form-step--bg box-form-step--bg--check">
                        <label class="checkbox-container">International School (Programa Bilíngue)
                            <input type="checkbox" name="services[]" value="International School (Programa Bilíngue) - INTEGRAL">
                            <span class="ck-checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
			<div class="box-12">
				<button class="previous btn-checkin btn-checkin-prev btn-checkin--mobile btn-checkin--disable">Voltar</button>
				<button type="submit" class="btn-checkin btn-checkin-next btn-checkin--mobile">Próximo</button>
			</div>
		</form>
	</div>
</div>
