<div class="swiper-slide">
	<header class="steps-header">
		<h1>Atualize seus dados</h1>
		<p>
			Para continuar é necessário atualizar os dados do responsável financeiro, informando o número de telefone, e-mail e endereço residencial.
		</p>
	</header>

	<div class="box-checkin box-checkin--md">
		<form action="" class="form">

			<div class="box-form-step box-form-step--bg">
				
				<div class="box-12">
					<div class="input-icon input-icon--user">
						<input type="text" placeholder="NOME" name="name" required>
					</div>
				</div>
				<div class="box-6">
					<div class="input-icon input-icon--phone">
						<input type="text" placeholder="telefone" name="phone" class="phone-mask" required>
					</div>
				</div>
				<div class="box-6">
					<div class="input-icon input-icon--mail">
						<input type="email" placeholder="email" name="email" required>
					</div>
				</div>
				<div class="box-12">
					<div class="input-icon input-icon--pin">
						<input type="text" placeholder="endereço" name="address" required>
					</div>
				</div>
				
			</div>

			<button class="previous btn-checkin btn-checkin-prev btn-checkin--mobile btn-checkin--disable">Voltar</button>
			<button class="btn-checkin btn-checkin-next btn-checkin--mobile" type="submit">Próximo</button>

		</form>
	</div>
</div>
