<div class="swiper-slide">
	<header class="steps-header">
		<h1>Check-in concluído!</h1>
		<p>
			Pronto! Você receberá um e-mail com a confirmação do checkin e nele haverá o link da inscrição, que deve ser impresso e apresentado na secretaria da escola.
		</p>
	</header>

	<div class="box-checkin box-checkin--xs">
		<form action="" class="form">

			<div class="box-form-step">
				
				<div class="box-12">
					<a href="" class="btn-checkin btn-checkin--link">Fazer o check-in de um novo aluno</a>
					<a href="" class="back-site">Voltar para o site</a>
				</div>
				
			</div>

		</form>
	</div>
</div>
