<div class="swiper-slide">
	<form class="form" id="box-steps" enctype="multipart/form-data">
		<div class="box-group box-group-12">
			<h3>Dados da Mãe</h3>
		</div>
		<div class="box-group box-group-12">
			<label for="nome">Nome da Mãe*</label>
			<input type="text" name="mother[name]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="data">Data de nascimento*</label>
			<input class="date-mask" type="text" name="mother[birthday]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="naturalidade">Naturalidade/Cidade*</label>
			<input type="text" name="mother[citzenship]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="naturalidade">Naturalidade/Estado*</label>
			<input type="text" name="mother[citzenship_state]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="RG">RG*</label>
			<input type="text" name="mother[rg]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="CPF">CPF*</label>
			<input class="cpf-mask" type="text" name="mother[cpf]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="Telefone">Telefone*</label>
			<input class="phone-mask" type="text" name="mother[phone_1]" required>
		</div>
		<div class="box-group box-group-6">
			<label for="Telefone Comercial">Telefone Comercial*</label>
			<input class="phone-mask" type="text" name="mother[phone_2]" required>
		</div>
		<div class="box-group box-group-6">
			<label for="CEP">CEP*</label>
			<input class="cep-mask" type="text" name="mother[zipcode]" required>
		</div>
		<div class="box-group box-group-8">
			<label for="Endereço">Endereço*</label>
			<input type="text" name="mother[street]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="numero">Nº*</label>
			<input type="text" name="mother[number]" required>
		</div>
		<div class="box-group box-group-6">
			<label for="Bairro">Bairro*</label>
			<input type="text" name="mother[neighbourhood]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="Cidade">Cidade*</label>
			<input type="text" name="mother[city]" required>
		</div>
		<div class="box-group box-group-2">
			<label for="UF">UF*</label>
			<select name="mother[state_id]">
				{% for state in states %}
					<option value="{{ state.id }}" {{ state.code == 'PB' ? 'selected' : '' }}>{{ state.name }}</option>
				{% endfor %}
			</select>
		</div>
        <div class="box-group box-group-6">
            <label>RG <span style="font-size: 10px; color: darkgoldenrod">Formatos: jpg, jpeg, png | Tamanho max: 1.3MB</span></label>
            <input class="" type="file" name="mother[rg_file]" accept="image/jpeg, image/jpg, image/png" required>
        </div>
        <div class="box-group box-group-6">
            <label>CPF <span style="font-size: 10px; color: darkgoldenrod">Formatos: jpg, jpeg, png | Tamanho max: 1.3MB</span></label>
            <input class="" type="file" name="mother[cpf_file]" accept="image/jpeg, image/jpg, image/png" required>
        </div>
		<div class="box-group box-group-4">
			<label for="estado_civil">Estado Civil*</label>
			<select name="mother[civil]">
				<option value="single">Solteiro</option>
				<option value="married">Casado</option>
				<option value="divorced">Divorciado</option>
				<option value="widowed">Viúvo</option>
			</select>
		</div>
		<div class="box-group box-group-4">
			<label for="celular">Celular*</label>
			<input class="phone-mask" type="text" name="mother[phone_3]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="Profissao">Profissão*</label>
			<input type="text" name="mother[occupation]" required>
		</div>
		<div class="box-group box-group-8">
			<label for="Email">Email*</label>
			<input type="email" name="mother[email]" required>
		</div>
		<div class="box-group box-group-4">
			<label for="localTrabalho">Local de trabalho*</label>
			<input type="text" name="mother[work]" required>
		</div>
		<div class="box-group box-group-3">
			<button class="" type="submit">Próximo passo</button>
		</div>
		<input type="hidden" name="mother[gender]" value="female">
		<input type="hidden" name="mother[country_id]" value="35">
		<input type="hidden" name="mother[kinship]" value="Mãe" required>
	</form>
</div>
