<div class="swiper-slide">
	<form action="" class="form" id="box-steps" enctype="multipart/form-data">
		<div class="box-group box-group-12">
			<h3>Dados do responsável financeiro</h3>
		</div>
		<div class="box-group box-group-12">
			<label for="">Selecione o responsável financeiro do aluno(a)</label>
			<label class="radio-inline box-group-4">
				<input type="radio" name="registration[guarantor]" value="father" checked>Pai
			</label>
			<label class="radio-inline box-group-4">
				<input type="radio" name="registration[guarantor]" value="mother">Mãe
			</label>
			<label class="radio-inline box-group-4">
				<input class="other_check" type="radio" name="registration[guarantor]" value="other">Outro
			</label>
		</div>
		<div class="other">
			<div class="box-group box-group-8">
				<label for="responsavel">Nome do responsável*</label>
				<input type="text" name="guarantor[name]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="Parentesco">Parentesco com o aluno*</label>
				<input type="text" name="guarantor[kinship]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="">Data de nascimento*</label>
				<input class="date-mask" type="text" name="guarantor[birthday]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="">Naturalidade/Cidade</label>
				<input type="text" name="guarantor[citzenship]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="">Naturalidade/Estado</label>
				<input type="text" name="guarantor[citzenship_state]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="">Telefone*</label>
				<input class="phone-mask" type="text" name="guarantor[phone_1]" required>
			</div>
			<div class="box-group box-group-6">
				<label for="">CPF*</label>
				<input class="cpf-mask" type="text" name="guarantor[cpf]" required>
			</div>
			<div class="box-group box-group-6">
				<label for="">RG*</label>
				<input type="text" name="guarantor[rg]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="">CEP*</label>
				<input class="cep-mask" type="text" name="guarantor[zipcode]" required>
			</div>
			<div class="box-group box-group-6">
				<label for="">Endereço*</label>
				<input type="text" name="guarantor[street]" required>
			</div>
			<div class="box-group box-group-2">
				<label for="">Nº*</label>
				<input type="text" name="guarantor[number]" required>
			</div>
			<div class="box-group box-group-6">
				<label for="">Bairro*</label>
				<input type="text" name="guarantor[neighbourhood]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="">Cidade*</label>
				<input type="text" name="guarantor[city]" required>
			</div>
			<div class="box-group box-group-2">
				<label for="">UF*</label>
				<select name="guarantor[state_id]">
					{% for state in states %}
						<option value="{{ state.id }}" {{ state.code == 'PB' ? 'selected' : '' }}>{{ state.name }}</option>
					{% endfor %}
				</select>
			</div>
            <div class="box-group box-group-6">
                <label>RG <span style="font-size: 10px; color: darkgoldenrod">Formatos: jpg, jpeg, png | Tamanho max: 1.3MB</span></label>
                <input class="" type="file" name="guarantor[rg_file]" accept="image/jpeg, image/jpg, image/png" required>
            </div>
            <div class="box-group box-group-6">
                <label>CPF <span style="font-size: 10px; color: darkgoldenrod">Formatos: jpg, jpeg, png | Tamanho max: 1.3MB</span></label>
                <input class="" type="file" name="guarantor[cpf_file]" accept="image/jpeg, image/jpg, image/png" required>
            </div>
			<div class="box-group box-group-4">
				<label for="">Estado Civil*</label>
				<select name="guarantor[civil]">
					<option value="single">Solteiro</option>
					<option value="married">Casado</option>
					<option value="divorced">Divorciado</option>
					<option value="widowed">Viúvo</option>
				</select>
			</div>
			<div class="box-group box-group-4">
				<label for="">Local de trabalho*</label>
				<input type="text" name="guarantor[work]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="">Profissão*</label>
				<input type="text" name="guarantor[occupation]" required>
			</div>
			<div class="box-group box-group-4">
				<label for="">Telefone Comercial*</label>
				<input class="phone-mask" type="text" name="guarantor[phone_2]" required>
			</div>

			<div class="box-group box-group-8">
				<label for="">Email*</label>
				<input type="email" name="guarantor[email]" required>
			</div>
		</div>
		<div class="box-group box-group-3">
			<button class="" type="submit">Próximo passo</button>
		</div>

		<input type="hidden" name="guarantor[gender]" value="other">
		<input type="hidden" name="guarantor[country_id]" value="35">
	</form>
	<div id="post_progress" class="progress-holder d-none">
		<div id="post_progress_slider" class="progress-bar" >0%</div>
	</div>
</div>
