<div class="swiper-slide">
	<form class="form" data-request-files  enctype="multipart/form-data">
		<div class="box-group box-group-12">
			<h3>Dados Pessoais do(a) Aluno(a)</h3>
		</div>
		<div class="box-group box-group-12">
			<label for="nome">Nome do(a) aluno(a)*</label>
			<input type="text" name="student[name]" id="nome" required>
		</div>
		<div class="box-group box-group-4">
			<label for="data">Data de nascimento*</label>
			<input class="date-mask" type="text" name="student[birthday]" id="data" required>
		</div>
		<div class="box-group box-group-4">
			<label for="sexo">Sexo*</label>
			<select name="student[gender]" id="sexo">
				<option value="male">Masculino</option>
				<option value="female">Feminino</option>
				<option value="other">Outro</option>
			</select>
		</div>
        <div class="box-group box-group-4">
            <label for="cpf">CPF</label>
            <input class="cpf-mask" type="text" name="student[cpf]" id="cpf" required>
        </div>
		<div class="box-group box-group-4">
			<label for="naturalidade-cid">Naturalidade/Cidade*</label>
			<input type="text" name="student[citzenship]" id="naturalidade-cid" required>
		</div>

        <div class="box-group box-group-4">
			<label for="naturalidade-uf">Naturalidade/Estado*</label>
            <select name="student[citzenship_state]" id="naturalidade-uf" required>
                {% for state in states %}
                <option value="{{ state.id }}" {{ state.code == 'PB' ? 'selected' : '' }}>{{ state.name }}</option>
                {% endfor %}
            </select>
		</div>
		<div class="box-group box-group-4">
			<label for="cep">Cep*</label>
			<input class="cep-mask" type="text" name="student[zipcode]" id="cep" required>
		</div>
		<div class="box-group box-group-8">
			<label for="endereco">Endereço*</label>
			<input type="text" name="student[street]" id="endereco" required>
		</div>
		<div class="box-group box-group-4">
			<label for="numero">Nº*</label>
			<input type="text" name="student[number]" id="numero" required>
		</div>
		<div class="box-group box-group-6">
			<label for="bairro">Bairro*</label>
			<input type="text" name="student[neighbourhood]" id="bairro" required>
		</div>
		<div class="box-group box-group-4">
			<label for="cidade">Cidade*</label>
			<input type="text" name="student[city]" id="cidade" required>
		</div>
		<div class="box-group box-group-2">
			<label for="uf">UFº*</label>
			<select name="student[state_id]" id="uf">
				{% for state in states %}
					<option value="{{ state.id }}" {{ state.code == 'PB' ? 'selected' : '' }}>{{ state.name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="box-group box-group-6">
			<label for="telefone">Telefone*</label>
			<input class="phone-mask" type="text" name="student[phone_1]" id="telefone" required>
		</div>
		<div class="box-group box-group-6">
			<label for="celular1">Celular do aluno</label>
			<input class="phone-mask" type="text" name="student[phone_2]" id="celular1">
		</div>

        <div class="box-group box-group-6">
            <label for="registro">Registro de Nascimento <span style="font-size: 10px; color: darkgoldenrod">Formatos: jpg, jpeg, png | Tamanho max: 1.3MB</span></label>
            <input type="file" name="student[birth_registration]" id="registro" accept="image/jpeg, image/jpg, image/png" required>
        </div>
        <div class="box-group box-group-6">
            <label for="foto">Foto <span style="font-size: 10px; color: darkgoldenrod">Formatos: jpg, jpeg, png | Tamanho max: 1.3MB</span></label>
            <input type="file" name="student[photo]" id="foto" accept="image/jpeg, image/jpg, image/png" required>
        </div>
        <div class="box-group box-group-6">
            <label for="cpf-arquivo">CPF <span style="font-size: 10px; color: darkgoldenrod">Formatos: jpg, jpeg, png | Tamanho max: 1.3MB</span></label>
            <input class="" type="file" name="student[cpf_file]" id="cpf-arquivo" accept="image/jpeg, image/jpg, image/png" required>
        </div>
        <div class="box-group box-group-6">
            <label for="boletim">Boletim completo ou parcial de 2019/2020 <span style="font-size: 10px; color: darkgoldenrod">Formatos: jpg, jpeg, png | Tamanho max: 1.3MB</span></label>
            <input class="" type="file" name="student[report_card]" id="boletim" accept="image/jpeg, image/jpg, image/png" required>
        </div>
		<!-- <div class="box-group box-group-4">
			<label for="Celular2">Celular do aluno 2</label>
			<input class="phone-mask" type="text" name="student[phone_3]">
		</div> -->
		<div class="box-group box-group-12">
			<label for="escola">Escola de origem*</label>
			<input type="text" name="registration[origin]" id="escola" required>
		</div>
		<div class="box-group box-group-12">
			<label for="unidade">Selecione a Unidade de ensino*</label>
			<!-- TODO -->
			<select name="registration[unit_id]" id="unidade" style="font-weight: bold">
				<option value="">
                    Selecione a unidade
				</option>
				<optgroup label="João Pessoa">
					{% for unit in units %}
						{% if unit.region == 'jp' %}
						<option value="{{ unit.id }}" data-region="{{ unit.region }}" data-stages="{{ unit.stages|json_encode() }}">
							{{ unit.name }}
						</option>
						{% endif %}
					{% endfor %}
				</optgroup>
				<optgroup label="Campina Grande">
					{% for unit in units %}
						{% if unit.region == 'cg' %}
						<option value="{{ unit.id }}" data-region="{{ unit.region }}" data-stages="{{ unit.stages|json_encode() }}">
							{{ unit.name }}
						</option>
						{% endif %}
					{% endfor %}
				</optgroup>
			</select>
		</div>
		<div class="box-group box-group-12">
			<a href="{{ 'assets/static/edital-jp-2021.pdf' | theme }}" class="edital btn" target="_blank" data-region="jp" style="display: none">
				Veja o edital
			</a>
			<a href="{{ 'assets/static/edital-cg-2021.pdf' | theme }}" class="edital btn" target="_blank" data-region="cg" style="display: none">
				Veja o edital
			</a>
		</div>
		<div id="ensino" class="box-group box-group-12" style="display: none">
			<label for="">Qual SÉRIE / TURNO que pretende estudar?</label>
			<div class="box-collapse">
				<label class="radio-inline radio-student box-group-4" data-stage="infantil">
					<input type="radio" name="registration[stage]" value="infantil" checked>Educação Infantil
				</label>
            	<label class="radio-inline radio-student box-group-4" data-stage="fundamental">
					<input type="radio" name="registration[stage]" value="fundamental">Ensino Fundamental
				</label>
            	<label class="radio-inline radio-student box-group-4" data-stage="medio">
					<input type="radio" name="registration[stage]" value="medio">Ensino Médio
				</label>
			</div>
		</div>
        <div class="box-group box-group-12">
            <label>Qual SÉRIE / TURNO que pretende estudar?</label>
        </div>
		<div class="box-group box-group-6">

			<select name="registration[grade_id]">
			<option value=""> Selecione </option>
				{% for grade in grades %}
					<option value="{{ grade.id }}">
						{{ grade.name }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="box-group box-group-6">
			<!-- TODO -->
			<select name="registration[shift]">
				<option value="">Turno</option>
				<option id="t_manha" value="0">Manhã</option>
				<option id="t_tarde" value="1">Tarde</option>
			</select>
		</div>

        <div id='integral' class="box-group box-group-10">
			<label for="">TEM INTERESSE NO SISTEMA INTEGRAL?</label>
            <input type="radio" name="registration[shift_full]" value="1">Sim
            <input type="radio" name="registration[shift_full]" value="0">Não
        </div>

        <div class="box-group box-group-10 bloco-agendamento-info">
            <br>
           <h4 style="font-size: 18px">AGENDAMENTO DAS ATIVIDADES PEDAGÓGICAS </h4>
            <div class="atvds-pedagogicas info-agendamento">
                <span>Aguarde o contato da escola com o agendamento das entrevistas.</span>
            </div>
        </div>
        <div class="box-group box-group-10 bloco-agendamento">
            <h4 style="font-size: 18px">AGENDAMENTO DAS ATIVIDADES PEDAGÓGICAS </h4>
            <label>Qual modo de atendimento deseja?*</label>
            <div class="box-collapse" style="display: flex">
                <input type="hidden"  name="scheduling[attendance]" value="" selected>
                <label class="radio-inline  box-group-3">
                    <input type="radio" name="scheduling[attendance]" value="virtual">Virtual
                </label>
                <label class="radio-inline box-group-3">
                    <input type="radio" name="scheduling[attendance]" value="presencial">Presencial
                </label>
            </div>
            <div class="box-group-8 agendamento-modo" style="padding-top:30px">
                <select name="scheduling[date]" id="scheduling_date">
                    <option value="" >Escolha uma data</option>
                    <option value="2020-10-06 15:00:00" class="info-presencial">06/10 às 15h</option>
                    <option value="2020-10-13 15:00:00" class="info-presencial">13/10 às 15h</option>
                    <option value="2020-10-20 15:00:00" class="info-presencial">20/10 às 15h</option>
                    <option value="2020-10-27 15:00:00" class="info-presencial">27/10 às 15h</option>
                    <option value="2020-11-03 15:00:00" class="info-presencial">03/11 às 15h</option>
                    <option value="2020-11-10 15:00:00" class="info-presencial">10/11 às 15h</option>
                    <option value="2020-11-17 15:00:00" class="info-presencial">17/11 às 15h</option>
                    <option value="2020-11-24 15:00:00" class="info-presencial">24/11 às 15h</option>
                    <option value="2020-12-01 15:00:00" class="info-presencial">01/12 às 15h</option>
                    <option value="2020-12-08 15:00:00" class="info-presencial">08/12 às 15h</option>
                    <option value="2020-12-15 15:00:00" class="info-presencial">15/12 às 15h</option>
                    <option value="2020-12-22 15:00:00" class="info-presencial">22/12 às 15h</option>
                    <option value="2020-10-08 15:00:00" class="info-virtual">08/10 às 15h</option>
                    <option value="2020-10-15 15:00:00" class="info-virtual">15/10 às 15h</option>
                    <option value="2020-10-22 15:00:00" class="info-virtual">22/10 às 15h</option>
                    <option value="2020-10-29 15:00:00" class="info-virtual">29/10 às 15h</option>
                    <option value="2020-11-05 15:00:00" class="info-virtual">05/11 às 15h</option>
                    <option value="2020-11-12 15:00:00" class="info-virtual">12/11 às 15h</option>
                    <option value="2020-11-19 15:00:00" class="info-virtual">19/11 às 15h</option>
                    <option value="2020-11-26 15:00:00" class="info-virtual">26/11 às 15h</option>
                    <option value="2020-12-03 15:00:00" class="info-virtual">03/12 às 15h</option>
                    <option value="2020-12-10 15:00:00" class="info-virtual">10/12 às 15h</option>
                    <option value="2020-12-17 15:00:00" class="info-virtual">17/12 às 15h</option>
                </select>
            </div>
        </div>

		<div class="box-group box-group-3">
			<button class="" type="submit">Próximo passo</button>
		</div>
		<input type="hidden" name="student[country_id]" value="35">
	</form>
</div>

