subject = "Colégio Motiva - Checkin 2020"
==
<p>
	Prezada Família,
</p>
<p>
	Prioritariamente, agradecemos a confiança novamente depositada no trabalho acadêmico e humano que é desenvolvido por nós. Para concluirmos o processo de Matrícula 2020, após 48h (dias úteis), compareça à Unidade em que seu (sua) dependente estuda, receba o envelope, confira os formulários e assine-os. Posteriormente, efetue o pagamento na Tesouraria.
</p>
<p>
	Informamos que o processo de Matrícula só se consuma, dentre outros aspectos estipulados no Contrato de Prestação de Serviços Educacionais, com a assinatura do contrato pelo Responsável Financeiro do (a) aluno (a), a qual deve ser feita na própria escola. Na ausência do Responsável Financeiro, o contrato poderá ser assinado mediante apresentação de procuração particular, com fim específico, e com as firmas reconhecidas em cartório. Os documentos de identificação do outorgante e do outorgado deverão ser anexados à procuração e apresentados à Secretaria da Escola no ato da realização da Matrícula, inclusive com comprovantes de residência.
</p>
<p>
	<b>
		Observação: Lembramos que o contrato de matrícula exige duas assinaturas. Uma assinatura precisa ser do Responsável Financeiro – obrigatoriamente.
	</b>
</p>
<p>
	Imprima seu Formulário de Reserva, <a href="{{ url('/checkin') }}/{{ timestamp }}/{{ id }}">clicando aqui</a>.
</p>
<p>
	Atenciosamente, <br />
	Coordenação de Matrícula
</p>
