subject = "Colégio Motiva - Reserva 2020"
==
<p>
    Prezada Família, <br />

    Estamos felizes por termos recebido o seu Formulário de Reserva – 2021!
    <br />
    Agradecemos a confiança no trabalho de formação integral, humana e
    acadêmica que consolidamos na nossa Escola.
    <br />
    A Equipe Pedagógica do <b>Colégio Motiva</b> está à disposição,
    diariamente, de forma virtual e presencial, com agendamento prévio
    dos pais e/ou responsáveis dos candidatos, no horário das 8h às 11h30
    e das 13h às 16h30.
    <br />
    Caso vocês escolham que a atividade seja realizada de forma virtual,
    a Secretaria da nossa Escola entrará em contato, 48h antes da data
    agendada da atividade Pedagógica, para disponibilizar o link.
    <br />
    No caso de escolha pela atividade presencial, é necessário comparecer
    à Unidade escolhida, na data e horário agendado. Lembramos-lhes de
    que o uso de máscaras é obrigatório.
    Imprima seu Formulário de Reserva,  <a href="{{ url('/detalhes') }}/{{ timestamp }}/{{ id }}">clicando aqui</a>.

</p>

<b>UNIDADES</b>
<p>
<ul>
    <li> JARDIM AMBIENTAL - Campina Grande - (83) 21014900</li>
    <li> CENTRO – Campina Grande - (83) 21014800</li>
</ul>

</p>

<p>
    Atenciosamente, <br />
    Coordenação de Matrícula
</p>
