<header class="steps-header">
	<h1>Selecione o(a) aluno(a)</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolor architecto consequatur omnis quas! Ex quae totam at hic beatae sed impedit.
	</p>
</header>

<div class="box-checkin box-checkin--xs">
	<form action="">

		<label class="custom-radio">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <input type="radio" checked="checked" name="aluno">
		  	<span class="checkmark"></span>
		</label>
		<label class="custom-radio">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <input type="radio" name="aluno">
		  	<span class="checkmark"></span>
		</label>

		<button type="submit" class="btn-checkin">Próximo</button>

	</form>
</div>
