description = "Checkin layout"
==
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
		<title></title>
		<link href="{{ 'dist/build.css' | theme }}" rel="stylesheet">
		{% styles %}
	</head>
	<body class="main-checkin">
		<header></header>
		<div class="wrapper-checkin">
			{% page %}
		</div>
		<footer class="checkin-footer">
			<div class="box box--left">
				© 2018 Colégio Motiva
			</div>
			<div class="box box--center">
				<img src="{{ 'assets/images/logo-motiva.svg' | theme }}" alt="">
			</div>
			<div class="box box--right">
				<img src="{{ 'assets/images/qualitare.svg' | theme }}" alt="">
			</div>
		</footer>
		{% scripts %}
		<script src="{{ 'dist/build.js' | theme }}"></script>
		<script src="{{ 'dist/select.js' | theme }}"></script>
		{% framework %}
	</body>
</html>
