description = "Default layout"
==
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="{{ 'dist/build.css' | theme }}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png' | theme }}" />
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-783381692"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){
				dataLayer.push(arguments);
			}

			gtag('js', new Date());
			gtag('config', 'AW-783381692');
			gtag('event', 'conversion', {'send_to': 'AW-783381692/7HyXCOyr4a8BELzpxfUC'});
		</script>
		{% styles %}
	</head>
	<body>
		<div class="wrapper">
			{% page %}
		</div>
		{% scripts %}
		<script src="{{ 'dist/build.js' | theme }}"></script>
		{% framework %}
	</body>
</html>
