.box-form{
	//@include outer-container;
	//@include grid-column(12);
	overflow: hidden;
	padding-bottom: 100px;
	.box-collapse{
		@include grid-collapse;
	}
	header{
		@include grid-column(12);
		h2{
			color: $pink;
			font-size: 40px;
			margin: 40px 0 10px 0;
		}
		p{
			font-size: 18px;
			margin: 0;
			color: lighten( $black, 60% );
		}
		hr{
			margin: 40px 0;
			border-color: lighten( $black, 90% );
		}
	}
	@for $i from 1 through 12 {
	  	.box-group-#{$i} { @include grid-column($i) }
	  	@include grid-media($small-grid) {
	        .box-group-#{$i} { @include grid-column(12) }
	    }
	}
	h3{
		color: $dark;
		font-size: 24px;
		margin: 0 0 10px 0;
	}
	.other{
		display: none;
	}
	.box-group{
		margin-bottom: 20px;
		label{
			display: block;
			margin-bottom: 10px;
			color: lighten( $black, 60% );
		}
		input.error, select.error{
			border-color: $pink!important;
		}
		label.error{
			display: none!important;
		}
		input, select{
			width: 100%;
			height: 40px;
			border: 1px solid lighten( $black, 70% );
			background: none;
			outline: none;
			padding-left: 15px;
			@include radius(5px);
		}
		input[type="radio"]{
			width: 20px;
			height: 16px;
			margin-right: 10px;
			margin-top: 20px;
			cursor: pointer;
		}
		.radio-inline{
			color: $dark;
			font-weight: bold;
		}
	}
	button{
		display: inline-block;
		width: 100%;
		color: white;
		background: $blue;
		padding: 10px 20px;
		margin-top: 30px;
		cursor: pointer;
		@include radius(5px);
		outline: none;
	}
}