.capa{
	width: 100%;
	margin: 0;
	position: relative;
	.box{
		position: relative;
		overflow: hidden;
		display: inline;
		@include grid-media($smartphone-grid) {
	        max-width: 400px;
	        margin: 0 auto;
	        display: block;
	        img{
	        	width: 100%!important;
	        }
	    }
		img{
			width: -webkit-calc(100% - 50px);
			width: -moz-calc(100% - 50px);
			width: -o-calc(75% - 50px);
		    width: calc(100% - 50px);
			height: auto;
		}
	}		
	.logo{
		max-width: 150px;
		position: absolute;
		top: 30px;
		left: 20px;
	}
	.seta{
		max-width: 70px;
	}
	span{
		position: absolute;
		left: 0;
		bottom: 10px;
		width: 100%;
		padding: 20px;
		h2{
			color: white;
			font-size: 32px;
		}
		.box-text{
			display: block;
			position: relative;
		}
		.box-link{
			margin-top: 20px;
			display: block;
			position: relative;
			a{
				background: white;
				padding: 15px 25px;
				color: #333;
				border-radius: 5px;
				font-weight: bold;
				text-decoration: none;
				@include transitions(0.5s);
				&:last-of-type{
					margin-left: 30px;
				}
				&:hover{
					background: $pink;
					color: white;
				}
				@include grid-media($smartphone-grid) {
					width: 100%;
					margin-left: 0 !important; 
					margin-right: 0 !important; 
				}
			
			}
		}
	}		
}
