.main-checkin{
	background: url(../assets/images/bg-checkin.jpg);
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	overflow-x: hidden;
	@include cover;

	& > header{
		width: 100%;
		height: 97px;
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		background-image: url(../assets/images/top-checkin.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
	}
}

.checkin-footer{
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    border-top: 2px dashed $ck-blue;
    @include grid-media($smartphone-grid) {
    	justify-content: center;
    }
    .box{
    	width: 200px;
    	img{
    		height: auto;
    	}
    	&--left{
    		text-align: left;
    	}
    	&--center{
    		text-align: center;
    	}
    	&--right{
    		text-align: right; 
    	}
    	@include grid-media($smartphone-grid) {
    		&--left{
	    		display: none;
	    	}
	    	&--right{
	    		display: none;
	    	}	
    	}
    }
}

.steps-checkin{
	position: relative;
	width: 100%;
	margin-top: 200px;
	@include grid-media($smartphone-grid) {
		margin-top: 130px;
	}
	
	&--center{
		text-align: center;
	}

	&--home{
		@include grid-media($desktop-grid) {
			min-height: 450px;
		}
	}

	.steps-header{
		@include grid-column(6);
		@include grid-push(3);
		@include grid-media($smartphone-grid) {
	        @include grid-column(12);
			@include grid-push(0);
	    }
		h1{
			font-size: 50px;
			margin: 0 20px;
			@include grid-media($smartphone-grid) {
		        font-size: 30px;
		        text-align: center;
		    }
		}
		p{
			font-size: 16px;
			line-height: 26px;
			@include grid-media($smartphone-grid) {
		        color: rgba(51, 51, 51, 0.8);
		    }
		}
	}

	.box-checkin{

		@for $i from 1 through 12 {
		  	.box-#{$i} { 
		  		@include grid-column($i);
		  		margin-bottom: 10px;
		  	}
		  	@include grid-media($small-grid) {
		        .box-#{$i} { @include grid-column(12) }
		    }
		}
		
		&--xs{
			@include grid-column(4);
			@include grid-push(4);
			@include grid-media($smartphone-grid) {
		        @include grid-column(12);
				@include grid-push(0);
		    }
		}

		&--md{
			@include grid-column(8);
			@include grid-push(2);
			@include grid-media($smartphone-grid) {
		        @include grid-column(12);
				@include grid-push(0);
		    }
		}

		&--checkbox{
			@include grid-media($smartphone-tablet-grid) {
		        @include grid-column(12);
				@include grid-push(0);
		    }
		    @include grid-media($smartphone-grid) {
		        .box-3{
		        	@include grid-column(12);
		        	.box-form-step{
		        		margin: 0 0 10px 0;
		        	}
		        }
		    }
		}
		
		.box-form-step{
			padding: 40px 40px 20px 40px;
			margin: 20px 0;
			display: inline-block;
			width: 100%;
			@include grid-media($smartphone-grid) {
		        padding: 20px 0px 10px;
		    }
			&--mb-0{
				margin-bottom: 0;
			}
			&--pd-0{
				padding-bottom: 0;
				@include grid-media($smartphone-tablet-grid) {
					padding: 0;
				}
				.collapse-grid{
					@include grid-media($smartphone-tablet-grid) {
						@include grid-collapse;
					}
				}
			}
			&--bg{
				background: white;
				@include radius(5px);
				@include box-shadow(0, 3px, 15px, rgba($black, 0.2));
				&--check{
					padding: 20px;
					height: 72px;
					display: flex;
					justify-content: center;
					align-items: center;
					@include grid-media($smartphone-grid) {
						justify-content: left;
					}
				}
			}
			.reset{
				@include grid-collapse;
			}

			@for $i from 1 through 12 {
			  	.box-#{$i} { 
			  		@include grid-column($i);
			  		margin-bottom: 40px;
			  	}
			  	@include grid-media($small-grid) {
			        .box-#{$i} { @include grid-column(12) }
			        .box-#{$i}--six { @include grid-column(6) }
			    }
			}
			.box-mb-0{
				margin-bottom: 0;
			}

			.input-icon{
		    	position: relative;
		    	&:after{
		    		content: "";
		    		width: 25px;
		    		height: 25px;
		    		position: absolute;
		    		top: 6px;
		    		left: 0;
		    		background-repeat: no-repeat;
					background-size: 100%;
		    	}
		    	&--cpf{
		    		&:after{
		    			background-image: url(../assets/images/user-cpf.svg);		    			
		    		}
	    		}
	    		&--user{
		    		&:after{
		    			background-image: url(../assets/images/user.svg);		    			
		    		}
	    		}
	    		&--phone{
		    		&:after{
		    			background-image: url(../assets/images/phone.svg);		    			
		    		}
	    		}
	    		&--mail{
		    		&:after{
		    			background-image: url(../assets/images/mail.svg);		    			
		    		}
	    		}
	    		&--pin{
		    		&:after{
		    			background-image: url(../assets/images/pin.svg);
		    			background-size: 80%;		    			
		    		}
	    		}
	    		&--home{
		    		&:after{
		    			background-image: url(../assets/images/home.svg);	    			
		    		}
	    		}
	    		&--book{
		    		&:after{
		    			background-image: url(../assets/images/book.svg);	    			
		    		}
	    		}
	    		&--time{
		    		&:after{
		    			background-image: url(../assets/images/time.svg);		    			
		    		}
	    		}
	    		input{
					width: 100%;
					background: none;
					border: 0;
					border-bottom: 0.1px solid $ck-blue;
					outline: none;
					padding: 10px 10px 15px 40px;
					text-transform: uppercase;
					color: $ck-blue;
					font-size: 14px;
					letter-spacing: 1.5px;
					font-weight: bold;
					@include placeholder {
						font-size: 14px!important; 
						letter-spacing: 1.5px!important;
						color: $ck-blue!important; 
						font-weight: normal!important; 
					}
					&.error{
						color: red;
						border-color: red;
						@include placeholder {
							color: red!important; 
						}
					}
				}
			}

			label.error{
				display: none !important;
			}
		}

		.custom-radio{
			&--pb{
				&:after{
					position: absolute;
					content: "";
					width: 40px;
					height: 30px;
					background-image: url(../assets/images/pb.svg);
					left: 20px;
					top: 50%;
    				transform: translate(0, -50%);
				}
				@include grid-media($smartphone-tablet-grid) {
					&:after{
						display: none;
					}
					display: block;
					margin: 0;
					padding: 15px;
					text-align: left;
					
					&:before{
						position: relative;
						content: "";
						width: 40px;
						height: 30px;
						margin-bottom: 15px;
						display: block;
						background-image: url(../assets/images/pb.svg);
					}
				}
			}
			&--cg{
				&:after{
					position: absolute;
					content: "";
					width: 40px;
					height: 30px;
					background-image: url(../assets/images/cg.svg);
					left: 20px;
					top: 50%;
    				transform: translate(0, -50%);
				}
				@include grid-media($smartphone-tablet-grid) {
					&:after{
						display: none;
					}
					display: block;
					margin: 0;
					padding: 15px;
					text-align: left;
					
					&:before{
						position: relative;
						content: "";
						width: 40px;
						height: 30px;
						margin-bottom: 15px;
						display: block;
						background-image: url(../assets/images/cg.svg);
					}
				}
			}
			@extend .box-form-step;
			display: block;
			cursor: pointer;
			position: relative;
			padding: 30px;
			@include radius(5px);
			@include box-shadow(0, 3px, 15px, rgba($black, 0.2));
			input{
				position: absolute;
				opacity: 0;
				cursor: pointer;
				&:checked ~ .checkmark{
					border: 2px solid $ck-blue;
				}
			}
			.checkmark {
			    position: absolute;
			    top: 0;
			    left: 0;
			    height: 100%;
			    width: 100%;
			    border: 2px solid transparent;
			    background: white;
    			z-index: -1;
			    @include radius(5px);
			}
			&:hover{
				.checkmark{
					border: 2px solid $ck-blue;
				}
			}
		}

		.btn-checkin{
			font-size: 14px;
			padding: 15px 40px;
			margin-top: 15px;
			@include radius(5px);
			@include box-shadow(0, 3px, 15px, rgba($black, 0.1));
			color: white;
			outline: none;
			cursor: pointer;
			border: 2px solid transparent;
			margin: 5px;
			background: $ck-blue;
		    background: linear-gradient(50deg, $ck-blue 0%, $ck-blue-dark 100%);
		    @include transitions(0.5s);
		    &:hover{
		    	@include scale(1.05);
		    }
		    &--disable{
		    	background: none;
		    	border: 2px solid #C4C4C4;
		    	color: #C4C4C4;		    	
		    }
		    &--link{
				display: block;
				text-decoration: none;
				font-size: 13px;
				padding: 15px 30px;
				&:hover{
			    	@include scale(1);
			    }
			}
			@include grid-media($smartphone-grid) {
				display: block;
				width: 100%;
				margin: 0;
				&--mobile{
					width: 48%;
					float: left;
				}
				&--disable{
					margin-right: 4%;
				}
			}
		}
	}

	.back-site{
		display: block;
		text-align: center;
		color: $ck-blue;
		text-decoration: none;
		margin-top: 30px;
		&:hover{
	    	text-decoration: underline;
	    }
	}

	.steps-footer{
		@include grid-column(6);
		@include grid-push(3);
		@include grid-media($smartphone-grid) {
	        display: none;
	    }
	    .change-steps{
			display: flex;
			justify-content: space-between;
			margin: 50px 0 0 0;
			padding: 0;
			position: relative;			
	    }
	    li{
	    	list-style: none;
	    	position: relative;
	    	z-index: 2;
	    	flex: 1;
	    	text-align: center;
	    	& > span{
	    		position: relative;
	    		z-index: 2;;
	    		display: block;
	    		width: 50px;
	    		height: 50px;
	    		background: #C4C4C4;
	    		color: white;
	    		padding-top: 17px;
    			margin-bottom: 10px;
    			margin: auto;
	    		@include radius(50%);
	    	}
	    	&:after{
				position: absolute;
				content: '';
				width: 100%;
				height: 2px;
				top: 22px;
    			left: 50%;
    			border-top: 8px dotted #C4C4C4;
				z-index: 1;
			}
			&:last-child:after{
				content: none;
			}
			&.checked{
		    	& > span{
		    		color: transparent;
		    		background-color: #2DD265;
					background-image: url(../assets/images/checked.svg);
					background-repeat: no-repeat;
    				background-position: 14px 16px;
		    	}
		    	&:after{
	    			border-top: 8px dotted #2DD265;
				}
		    }
		    &.active{
		    	& > span{
		    		background: #F38526;
		    	}
		    }
	    }
	    
	}
}
