.checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    padding-left: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    small{
        display: block;
        font-size: 11px;
        font-weight: bold;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .ck-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: white;
        border: 2px solid rgba(51, 51, 51, 0.3);
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover input ~ .ck-checkmark {
        background-color: #ccc;
    }
    input:checked ~ .ck-checkmark {
        background-color: #2196F3;
    }
    input:checked ~ .ck-checkmark:after {
        display: block;
    }
}