.detalhes{
	@include grid-container;
	&__header{
		display: flex;
		align-items: center;
	}
	&__body{
		display: flex;
		flex-flow: row wrap;
	}
	&__brand{
		margin: 0 40px 0 0;
		@include grid-column(3);
	}
	&__block{
		@include grid-column(6);
	}
	&__title{
		font-size: 18px;
		border-bottom: 2px solid black;
		padding-bottom: 15px;
	}
	&__fields{
		list-style: none;
		padding-left: 0px;
		li{
			line-height: 130%;
			b{
				// width: 150px;
				// display: inline-block;
				// text-align: right;
				// margin-right: 15px;
			}
		}
		&--inline{
			li{
				b{
					display: inline;
					margin-right: 0;
				}
			}
		}
	}
}
