*, *:before, *:after {
  	box-sizing: border-box;
}

html,
body{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container{
	background: #eaeaea;
	@include outer-container;
	span{
		display: inline-block;
		height: 50px;
		background: red;
		@include grid-column(6);
		@include grid-media($smartphone-grid) {
			@include grid-column(12);
		}
	}
}

.col-left{
	display: flex;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	position: relative;
	.capa{
		position: relative;
		z-index: 2;
		a{
			color: white;
			margin-left: 10px;
			text-decoration: none;
			float: right;
			@include grid-media($smartphone-grid) {
				float: none;
				margin: 10px;
				display: block;
			}
		}
	}
	&:after{
		@include pseudo;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 660px;
		background: rgba(13,100,151,1);
		background: linear-gradient(0deg, rgba(13,100,151,0.8) 0%, rgba(255,255,255,0) 100%);
	}

	@include grid-column(5, $custom-grid);
	@include grid-media($smartphone-grid) {
		height: 540px; 
		@include grid-column(12, $custom-grid);
	}
}

.col-right{
	display: inline-block;
	overflow: auto;
	//background: black;
	@include grid-column(7, $custom-grid);
	@include grid-media($smartphone-grid) {
		@include grid-column(12, $custom-grid);
	}
}

.btn{
	display: inline-block;
	color: white;
	background: $blue;
	padding: 10px 20px;
	cursor: pointer;
	@include radius(5px);
	outline: none;
	text-decoration: none;
}

.wrapper{
	display: flex;
	height: 100%;
	@include grid-media($smartphone-grid) {
		flex-flow: row wrap;
	}
}

.wrapper-checkin{
	display: flex;
	@include grid-media($smartphone-grid) {
		flex-flow: row wrap;
	}
}
.bloco-agendamento{
    display: none;
    .agendamento-modo{
        display: none;
        margin-left: 0 !important;
    }
    label{
        display: block !important;
    }
}

.bloco-agendamento-info{
    display: none;
}
.progress-holder{
	-webkit-transition: all  ease-in-out .2s;
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s;
    transition: all  ease-in-out .2s;


	width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
	border-radius: 5px;
	
	position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
}
.progress-bar{
    -webkit-transition: all  ease-in-out .2s; 
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s; 
    transition: all  ease-in-out .2s;


    background: #3d86dc;
    border-radius: 5px; 
    color: #fff;
    padding: 3px 15px;
    font-size: 13px; 
    font-weight: 700;
    letter-spacing: .06rem;
}
.d-none{
	display: none;
} 
.d-block{
	display: block;
}