.reserva_success{
	position: relative;
	width: 100%;
	height: 100vh;
	@include cover;
	&:after{
		@include pseudo;
		width: 100%;
		height: 100%;
		background: rgba(60, 133, 218, 0.8);
		z-index: 1;
	}
	.box{
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		@include grid-media($smartphone-grid) {
	        width: 100%;
	        padding: 0 15px;
	    }

		h1{
			color: white;
			font-weight: bold;
			font-size: 48px;
			margin: 20px 0;
			@include grid-media($smartphone-grid) {
		        font-size: 24px;
		    }
		}
		span{
			color: #91FFB0;
		}
		p{
			color: white;
			margin: 0 0 50px 0;
			max-width: 500px;
		}
		a{
			display: table;
			text-decoration: none;
			background: #E9AD13;
			color: white;
			padding: 10px 30px;
			margin: 0 auto;
			@include radius(5px);
			@include transitions(0.5s);
			&:hover{
				background: lighten( #E9AD13, 10% );
			}
		}
	}
}
