label.field-select {
	border-radius: 2px;
	color: $ck-blue;
	display: block;
	width: 100%;
	opacity: 0;
	position: relative;
	transition-property: opacity;
	z-index: 1;
	.span-icon--unidade{
		&:after{
			content: "";
		    width: 25px;
		    height: 25px;
		    background: url(../assets/images/home.svg) no-repeat;
		    display: block;
		    float: left;
		    margin: 0 15px 0 0;
		}
	}
	.span-icon--turno{
		&:after{
			content: "";
		    width: 25px;
		    height: 25px;
		    background: url(../assets/images/time.svg) no-repeat;
		    display: block;
		    float: left;
		    margin: 0 15px 0 0;
		}
	}
	span {
		color: inherit;
		display: block;
		font-size: 14px!important;
		font-weight: bold;
		letter-spacing: 1.5px!important;
		text-transform: uppercase;
		height: 20px;
		line-height: 20px;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: -8px;
		transform: scale(1) translateY(0);
		transition-property: color, font-size, top;
		z-index: 1;
		
		&.required {
			&::after {
				color: inherit;
				content: "*";
				display: block;
				height: 20px;
				left: -20px;
				line-height: 20px;
				position: absolute;
				text-align: center;
				top: 0;
				width: 20px;
			}
		}
		.error & {
			color: #F02318
		}
	}
	.psuedo_select {
		width: 100%;
		background: rgba(255,255,255,0);
		position: relative;
		border-color: $ck-blue;
		border-style: solid;
		border-width: 0 0 1px 0;
		color: $ck-blue;
		cursor: pointer;
		font-size: 14px;
		height: 24px;
		line-height: 24px;
		margin: 17px 0 0 0;
		padding-top: 24px;
		outline: 0;
		z-index: 1;
		&::after {
			background: url(../assets/images/arrow.svg) no-repeat;
			content: "";
			height: 14px;
			width: 14px;
			position: absolute;
			top: 0;
			right: 0;
			transition-property: background;
		}
		.selected {
			height: 24px;
			left: 1px;
			line-height: 24px;
			opacity: 0;
			position: absolute;
			top: -8px;
			transform: translateY(24px);
			transition-property: opacity, transform;
			will-change: transform;
		}
		ul {
			background: #fff;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
			display: block;
			height: 0;
			list-style: none;
			margin-top: 2px;
			opacity: 0;
			overflow: hidden;
			padding: 0 1px;
			pointer-events: none;
			transition-property: height, opacity;
			width: 100%;
			z-index: 2;
			@include transitions(0.5s);
			li {
				display: block;
				height: 32px;
				padding: 8px 10px;
				text-align: left;
				color: $ck-blue!important;
				font-weight: bold;
			}
		}
	}
	.deselect {
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: -1;
	}
	&.focused {
		color: $ck-blue!important;
		.psuedo_select {
			border-color: #007BED;
			&::after {
				background: url(../assets/images/arrow.svg) no-repeat;
			}
			ul {
				opacity: 1;
				pointer-events: all;
				color: $ck-blue!important;
			}
		}
	}
}