title = "Check-In Motiva"
url = "/checkin-steps"
layout = "checkin"
==
use Medoo\Medoo;
use Motiva\Booking\Models\Checkin;
use Motiva\Booking\Models\Unit;
use Illuminate\Support\Facades\Log;

public function onStart()
{
    if(!$_POST['cpf'])
        return false;

    $data = Checkin::getStudent($_POST['cpf']);
    if(!$data)
        return false;

	$registries = [];
	// Resolve next grade to every registry
	foreach ($data as $key => $registry) {
		$registries[] = [
			'data' => (array)$registry,
			'grade' => Checkin::getNextGrade(
				$registry->CURSO,
				$registry->SERIE
			)
		];
	}

	// Pass data to frontend
	$this['registries'] = $registries;
	$this['units'] = Unit::all();
	$this['length'] = count($data);
	$this['cpf'] = $_POST['cpf'];
}

public function onSubmit()
{
	$checkin = Checkin::create($_POST);

	$date = new \DateTime($checkin->created_at);

	// Send email
	Mail::send('motiva.booking::mail.checkin', [
		'timestamp' => $date->getTimestamp(),
		'id' => $checkin->id
	], function($message) use ($checkin) {
		$message->to($checkin->email, $checkin->name);
		$message->subject('Obrigado!');
	});

	return $checkin;
}

public function onValidate()
{
	 $checkin = Checkin::where('student', $_POST['student'])
					->whereYear('created_at', '=', date('Y'))
					->whereMonth('created_at', '=', date('m'))->first();

		if(!$checkin)
			return false;

	return 'exist';
}
==
<section class="steps-checkin steps-checkin--center">

	<div class="swiper">
		{% if length > 0 %}
			<div class="swiper-wrapper">
				{% partial 'checkin/step1' %}
				{% partial 'checkin/step2' %}
				{% partial 'checkin/step3' %}
				{% partial 'checkin/step4' %}
				{% partial 'checkin/step5' %}
			</div>
		</div>

		<footer class="steps-footer">
			<ul class="change-steps">
				<li class="list-step active">
					<span>1</span>
					Aluno
				</li>
				<li class="list-step">
					<span>2</span>
					Dados
				</li>
				<li class="list-step">
					<span>3</span>
					Turma
				</li>
				<li class="list-step">
					<span>4</span>
					Serviços
				</li>
			</ul>
		{% else %}
			<h1>Desculpe, não encontramos matrículas relacionadas ao CPF {{ cpf }}</h1>
		{% endif %}
	</footer>
</section>
