title = "Check-In Motiva"
url = "/checkin"
layout = "checkin"
==
<section class="steps-checkin steps-checkin--center steps-checkin--home">
	<header class="steps-header">
		<h1>Check-In</h1>
		<p>
			Informe o CPF do responsável financeiro para visualizar a lista de alunos.
		</p>
	</header>

	<div class="box-checkin box-checkin--xs">
		<form method="POST" action="{{url('/checkin-steps')}}" class="cpf-form">
			<div class="box-form-step box-form-step--bg">
				<div class="input-icon input-icon--cpf">
						<input type="text" name="cpf" class="cpf-mask" placeholder="CPF" required>
				</div>
			</div>
			<button type="submit" class="btn-checkin">Entrar</button>
		</form>
	</div>

</section>

