title = "Obrigado!"
url = "/confirmacao"
layout = "default"
==
<section class="reserva_success" style="background-image: url({{ 'assets/images/sucesso.png' | theme }})">
	<div class="box">
		<span>Concluído</span>
		<h1>Vaga reservada<br>com sucesso!</h1>
		<p>Atenciosamente,<br /> Colégio Motiva</p>
		<a href="http://colegiomotiva.com.br">Ir para o site da escola</a>
	</div>
</section>

