title = "Detalhes da Matrícula"
layout = default
url = /detalhes/:timestamp/:id
==
use Motiva\Booking\Models\Registration;
use Motiva\Booking\Models\Scheduling;

public function onStart()
{
	$id = $this->param('id');
	$timestamp = $this->param('timestamp');

	$date = date("Y-m-d H:i:s", $timestamp);
	$registration = Registration::where('created_at', $date)
		->where('id', $id)
		->first();

    $scheduling = Scheduling::where('registration_id', $id)
        ->first();

	$this['date'] = $date;
	$this['registration'] = $registration;
    $this['scheduling'] = $scheduling;
}
==

<style type="text/css">

    img.docs{
        height: 200px;
        width: 400px;
    }

    img.foto{
        height: 120px;
        width: 180px;
    }



    @media print {

        section.section-docs{
            margin-top: 0px;
        }
        .detalhes__block{
            display: block !important;
            float: none !important;
        }
        .block-page{
            page-break-after: always;
        }

        img.img-big{
            width: 500px !important;
            height: 700px !important;
        }

        img.docs{
            width: 200px;
            height: 120px;
        }
        img.foto{
            width: 80px;
            height: 60px;
        }
    }
</style>

<div class="detalhes">
	<div class="detalhes__header">
		<img src="{{ 'assets/images/motiva-brand-black.png' | theme }}" class="detalhes__brand" alt="Colégio Motiva">
		<div class="detalhes__block">
        <ul class="detalhes__fields detalhes__fields--inline">
            <li><h2>Formulário de Reservas 2021</h2></li>
        </ul>
			<ul class="detalhes__fields detalhes__fields--inline">
				<li>
					<b>Ensino:</b>
				{#	{{
						registration.stage == 'infantil' ? 'Ensino Infantil' :
						registration.stage == 'fundamental' ? 'Ensino Fundamental' : 'Ensino Médio'
					}} #}

					{{ registration.grade.name }}
				</li>
				<li><b>Unidade:</b> {{ registration.unit.name }}</li>

				<li><b>Turno:</b> {{ registration.shift == '0' ? 'Manhã' : 'Tarde' }}</li>
				<li><b>Instituição de origem:</b> {{ registration.origin }}</li>
                <li><b>Agendamento: </b> {{ scheduling.attendance }} </li>
                <li><b>Data/hora de agendamento:</b> {{ scheduling.date != null ? scheduling.date | date('d/m/Y H:i') : '' }}</li>
			</ul>
		</div>
	</div>

	<div class="detalhes__body">
		<div class="detalhes__block">
			<h3 class="detalhes__title">
				Detalhes do Aluno
			</h3>
			<ul class="detalhes__fields">
				<li><b>Nome:</b> {{ registration.student.name }}</li>
				<li><b>Data de nascimento:</b> {{ registration.student.birthday | date('d/m/Y') }}</li>
				<li>
					<b>Gênero:</b>
					{{
						registration.student.gender == 'male' ? 'Masculino' :
						registration.student.gender == 'female' ? 'Feminino' : 'Outro'
					}}
				</li>
				<li><b>Naturalidade/Cidade:</b> {{ registration.student.citzenship }}</li>
				<li><b>Naturalidade/Estado:</b> {{ registration.student.citzenship_state }}</li>
			</ul>
			<ul class="detalhes__fields">
				<li><b>Bairro:</b> {{ registration.student.neighbourhood }}</li>
				<li><b>Cidade:</b> {{ registration.student.city }}</li>
				<li><b>Estado:</b> {{ registration.student.state.name }}</li>
				<li><b>Rua:</b> {{ registration.student.street }}, n{{ registration.student.number }}</li>
				<li><b>CEP:</b> {{ registration.student.zipcode }}</li>
				<li><b>Celular:</b> {{ registration.student.phone_1 }}</li>
				<li><b>Telefone 1:</b> {{ registration.student.phone_2 }}</li>
				<li><b>Telefone 2:</b> {{ registration.student.phone_3 }}</li>
			</ul>
		</div>

		<div class="detalhes__block">
			<h3 class="detalhes__title">
				Detalhes do Pai
			</h3>
			<ul class="detalhes__fields">
				<li><b>Nome:</b> {{ registration.father.name }}</li>
				<li><b>Data de nascimento:</b> {{ registration.father.birthday | date('d/m/Y') }}</li>
				<li>
					<b>Gênero:</b>
					{{
						registration.father.gender == 'male' ? 'Masculino' :
						registration.father.gender == 'female' ? 'Feminino' : 'Outro'
					}}
				</li>
				<li><b>Naturalidade/Cidadade:</b> {{ registration.father.citzenship }}</li>
				<li><b>Naturalidade/Estado:</b> {{ registration.father.citzenship_state }}</li>
			</ul>
			<ul class="detalhes__fields">
				<li><b>Email:</b> {{ registration.father.email }}</li>
				<li><b>RG:</b> {{ registration.father.rg }}</li>
				<li><b>CPF:</b> {{ registration.father.cpf }}</li>
				<li><b>Profissão:</b> {{ registration.father.occupation }}</li>
				<li><b>Local de trabalho:</b> {{ registration.father.work }}</li>
				<li>
					<b>Estado civil:</b>
					{{
						registration.father.civil == 'single' ? 'Solteiro' :
						registration.father.civil == 'married' ? 'Casado' :
						registration.father.civil == 'divorced' ? 'Divorciado' : 'Viúvo'
					}}
				</li>
			</ul>
			<ul class="detalhes__fields">
				<li><b>Bairro:</b> {{ registration.father.neighbourhood }}</li>
				<li><b>Cidade:</b> {{ registration.father.city }}</li>
				<li><b>Estado:</b> {{ registration.father.state.name }}</li>
				<li><b>Rua:</b> {{ registration.father.street }}, n{{ registration.father.number }}</li>
				<li><b>CEP:</b> {{ registration.father.zipcode }}</li>
				<li><b>Celular:</b> {{ registration.father.phone_1 }}</li>
				<li><b>Telefone 1:</b> {{ registration.father.phone_2 }}</li>
				<li><b>Telefone 2:</b> {{ registration.father.phone_3 }}</li>
			</ul>
		</div>

		<div class="detalhes__block">
			<h3 class="detalhes__title">
				Detalhes da Mãe
			</h3>
			<ul class="detalhes__fields">
				<li><b>Nome:</b> {{ registration.mother.name }}</li>
				<li><b>Data de nascimento:</b> {{ registration.mother.birthday | date('d/m/Y') }}</li>
				<li>
					<b>Gênero:</b>
					{{
						registration.mother.gender == 'male' ? 'Masculino' :
						registration.mother.gender == 'female' ? 'Feminino' : 'Outro'
					}}
				</li>
				<li><b>Naturalidade/Cidade:</b> {{ registration.mother.citzenship }}</li>
				<li><b>NaturalidadeEstado:</b> {{ registration.mother.citzenship_state }}</li>
			</ul>
			<ul class="detalhes__fields">
				<li><b>Email:</b> {{ registration.mother.email }}</li>
				<li><b>RG:</b> {{ registration.mother.rg }}</li>
				<li><b>CPF:</b> {{ registration.mother.cpf }}</li>
				<li><b>Profissão:</b> {{ registration.mother.occupation }}</li>
				<li><b>Local de trabalho:</b> {{ registration.mother.work }}</li>
				<li>
					<b>Estado civil:</b>
					{{
						registration.mother.civil == 'single' ? 'Solteiro' :
						registration.mother.civil == 'married' ? 'Casado' :
						registration.mother.civil == 'divorced' ? 'Divorciado' : 'Viúvo'
					}}
				</li>
			</ul>
			<ul class="detalhes__fields">
				<li><b>Bairro:</b> {{ registration.mother.neighbourhood }}</li>
				<li><b>Cidade:</b> {{ registration.mother.city }}</li>
				<li><b>Estado:</b> {{ registration.mother.state.name }}</li>
				<li><b>Rua:</b> {{ registration.mother.street }}, n{{ registration.father.number }}</li>
				<li><b>CEP:</b> {{ registration.mother.zipcode }}</li>
				<li><b>Celular:</b> {{ registration.mother.phone_1 }}</li>
				<li><b>Telefone 1:</b> {{ registration.mother.phone_2 }}</li>
				<li><b>Telefone 2:</b> {{ registration.mother.phone_3 }}</li>
			</ul>
		</div>

		<div class="detalhes__block">
			<h3 class="detalhes__title">
				Detalhes do Fiador
			</h3>
			<ul class="detalhes__fields">
				<li><b>Nome:</b> {{ registration.guarantor.name }}</li>
				<li><b>Data de nascimento:</b> {{ registration.guarantor.birthday | date('d/m/Y') }}</li>
				<li>
					<b>Gênero:</b>
					{{
						registration.guarantor.gender == 'male' ? 'Masculino' :
						registration.guarantor.gender == 'female' ? 'Feminino' : 'Outro'
					}}
				</li>
				<li><b>Naturalidade/Cidade:</b> {{ registration.guarantor.citzenship }}</li>
				<li><b>Naturalidade/Estado:</b> {{ registration.guarantor.citzenship_state }}</li>
			</ul>
			<ul class="detalhes__fields">
				<li><b>Email:</b> {{ registration.guarantor.email }}</li>
				<li><b>RG:</b> {{ registration.guarantor.rg }}</li>
				<li><b>CPF:</b> {{ registration.guarantor.cpf }}</li>
				<li><b>Profissão:</b> {{ registration.guarantor.occupation }}</li>
				<li><b>Local de trabalho:</b> {{ registration.guarantor.work }}</li>
				<li>
					<b>Estado civil:</b>
					{{
						registration.guarantor.civil == 'single' ? 'Solteiro' :
						registration.guarantor.civil == 'married' ? 'Casado' :
						registration.guarantor.civil == 'divorced' ? 'Divorciado' : 'Viúvo'
					}}
				</li>
			</ul>
			<ul class="detalhes__fields">
				<li><b>Bairro:</b> {{ registration.guarantor.neighbourhood }}</li>
				<li><b>Cidade:</b> {{ registration.guarantor.city }}</li>
				<li><b>Estado:</b> {{ registration.guarantor.state.name }}</li>
				<li><b>Rua:</b> {{ registration.guarantor.street }}, n{{ registration.father.number }}</li>
				<li><b>CEP:</b> {{ registration.guarantor.zipcode }}</li>
				<li><b>Celular:</b> {{ registration.guarantor.phone_1 }}</li>
				<li><b>Telefone 1:</b> {{ registration.guarantor.phone_2 }}</li>
				<li><b>Telefone 2:</b> {{ registration.guarantor.phone_3 }}</li>
			</ul>
		</div>

        <section class="section-docs">

        <div class="detalhes__block">
            <h3 class="detalhes__title">
                Documentos do Aluno
            </h3>
            <ul class="detalhes__fields">

                <li class="block-page"><b>Registro:</b>
                    {% if registration.student.birth_registration %}
                    <p><img class="docs img-big"  src="{{ registration.student.birth_registration }}"></p>
                    {% endif %}
                </li>
                <li class="block-page"><b>Boletim:</b>
                    {% if registration.student.report_card %}
                    <p><img class="docs img-big"  src="{{ registration.student.report_card }}"></p>
                    {% endif %}
                </li>

                <li><b>Foto:</b>
                    {% if registration.student.photo %}
                    <p><img class="foto" src="{{ registration.student.photo }}" ></p>
                    {% endif %}
                </li>
                <li><b>CPF:</b>
                    {% if registration.student.cpf_file %}
                    <p><img class="docs"  src="{{ registration.student.cpf_file }}"></p>
                    {% endif %}
                </li>
            </ul>
        </div>

        <div class="detalhes__block">
            <h3 class="detalhes__title">
                Documentos do Pai
            </h3>
            <ul class="detalhes__fields">
                <li><b>CPF:</b>
                    {% if registration.father.cpf_file %}
                    <p><img  class="docs" src="{{ registration.father.cpf_file }}" style="height:300px; width: 350px"></p>
                    {% endif %}
                </li>
                <li><b>RG:</b>
                    {% if registration.father.rg_file %}
                    <p><img class="docs"  src="{{ registration.father.rg_file }}" style="height:300px; width: 350px"></p>
                    {% endif %}
                </li>
            </ul>
        </div>

        <div class="detalhes__block">
            <h3 class="detalhes__title">
                Documentos da Mãe
            </h3>
            <ul class="detalhes__fields">
                <li><b>CPF:</b>
                    {% if registration.mother.cpf_file %}
                    <p><img class="docs"  src="{{ registration.mother.cpf_file }}" style="height:300px; width: 350px"></p>
                    {% endif %}
                </li>
                <li><b>RG:</b>
                    {% if registration.mother.rg_file %}
                    <p><img class="docs"  src="{{ registration.mother.rg_file }}" style="height:300px; width: 350px"></p>
                    {% endif %}
                </li>
            </ul>
        </div>

        <div class="detalhes__block">
            <h3 class="detalhes__title">
                Documentos do Fiador
            </h3>
            <ul class="detalhes__fields">
                <li><b>CPF:</b>
                    {% if registration.guarantor.cpf_file %}
                    <p><img class="docs"  src="{{ registration.guarantor.cpf_file }}" style="height:300px; width: 350px"></p>
                    {% endif %}
                </li>
                <li><b>RG:</b>
                    {% if registration.guarantor.rg_file %}
                    <p><img class="docs"  src="{{ registration.guarantor.rg_file }}" style="height:300px; width: 350px"></p>
                    {% endif %}
                </li>
            </ul>
        </div>
        </section>
	</div>
</div>
