title = "Detalhes do Checkin"
layout = default
url = /checkin/:timestamp/:id
==
use Motiva\Booking\Models\Checkin;

public function onStart()
{
	$id = $this->param('id');
	$timestamp = $this->param('timestamp');

	$date = date("Y-m-d H:i:s", $timestamp);
	$checkin = Checkin::where('created_at', $date)
		->where('id', $id)
		->first();

	$this['date'] = $date;
	$this['checkin'] = $checkin;
}
==
<div class="detalhes">
	<div class="detalhes__header">
		<img src="{{ 'assets/images/motiva-brand-black.png' | theme }}" class="detalhes__brand" alt="Colégio Motiva">
		<div class="detalhes__block">
			<ul class="detalhes__fields detalhes__fields--inline">
				<li><b>Aluno:</b> {{ checkin.student }}</li>
				<li>
					<b>Ensino:</b>
					{{
						checkin.stage == 'infantil' ? 'Ensino Infantil' :
						checkin.stage == 'fundamental' ? 'Ensino Fundamental' : 'Ensino Médio'
					}}
					–
					{{ checkin.grade.name }}
				</li>
				<li><b>Unidade:</b> {{ checkin.unit.name }}</li>

				<li><b>Turno:</b> {{ checkin.shift == '0' ? 'Manhã' : checkin.shift == '1' ? 'Tarde' : 'Integral' }}</li>
			</ul>
		</div>
	</div>

	<div class="detalhes__body">
		<div class="detalhes__block">
			<h3 class="detalhes__title">
				Detalhes do Checkin
			</h3>
			<ul class="detalhes__fields">
				<li><b>Responsável:</b> {{ checkin.name }}</li>
				<li><b>CPF:</b> {{ checkin.cpf }}</li>
				<li><b>Email:</b> {{ checkin.email }}</li>
				<li><b>Endereço:</b> {{ checkin.address }}</li>
				<li><b>Telefone:</b> {{ checkin.phone }}</li>
			</ul>
		</div>

		{% if (checkin.services | length > 0) %}
			<div class="detalhes__block">
				<h3 class="detalhes__title">
					Serviços
				</h3>
				<ul class="detalhes__fields">
					{% for item in checkin.services %}
						<li>{{ item.service }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
</div>
