title = "Pré Matrícula"
url = "/"
layout = "default"
==
use Motiva\Booking\Models\Registration;
use Motiva\Booking\Models\Unit;
use Motiva\Booking\Models\Grade;
use Motiva\Booking\Models\Person;
use Motiva\Booking\Models\Scheduling;
use RainLab\Location\Models\State;
use System\Models\File;

function onStart()
{
	$this['units'] = Unit::all();
	$this['grades'] = Grade::where('stage', 'infantil')->get();
	$this['states'] = State::where('country_id', 35)->get();

}

/* function onStageChange()
{
	return Grade::where('stage', $_POST['stage'])->orderBy('stage', 'desc')->get();
} */

function onUnitsChange()
{
	return Grade::where('stage', $_POST['stage'])->get();
}
==

<div class="col-left" style="background-image: url({{ 'assets/images/capa.png' | theme }})">
	<div class="capa">
		<img class="logo" src="{{ 'assets/images/logo.png' | theme }}" alt="">
		<span>
			<span class="box-text">
				<h2>
					Faça aqui sua reserva<br>para ingressar no Motiva.
				</h2>
				<img class="seta" src="{{ 'assets/images/seta.png' | theme }}" alt="">
			</span>
			<span class="box-link">
				<a href="{{ 'assets/static/edital-jp-2021.pdf' | theme }}" target="_blank">Edital João Pessoa</a>
				<a href="{{ 'assets/static/edital-cg-2021.pdf' | theme }}" target="_blank">Edital Campina Grande</a>
			</span>
		</span>
	</div>
</div>

<div class="col-right registration">
	<section class="box-form">
		<header>
			<h2>Formulário de reserva</h2>
			<p>
				Preencha todos os passos do formulário abaixo.
			</p>
			<hr>
		</header>
		<div class="swiper">
			<div class="swiper-wrapper">
				{% partial 'step1' %}
            	{% partial 'step2' %}
            	{% partial 'step3' %}
				{% partial 'step4' %}
			</div>
		</div>


	</section>
</div>
<script src="{{ 'assets/js/jquery-3.0.0.min.js' | theme }}"></script>
<script src="{{ 'assets/js/cep.js' | theme }}"></script>
